.wrapper{
    position: absolute;
    background-color: #502C73;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-animation-name: backgroundcolor; 
    -webkit-animation-duration: 3s;
    animation-name: backgroundcolor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
.main{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.portfolioAlign {
    text-align: center;
}
h1 {
    font-size: 60px;
    font-weight: 900;
  }

  .jumbotrontext {
    font-size: 30px;
  }

.homeslide {
    height: 600px;
}

.jumbotron{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.jumbotron h1 {
    color:#202020;
}

section{
    padding: 40px;
}

h1{
    color:#fff262;
}

.content{
    width: 100%;
    padding: 20px;
    background: #202020;
    color: #FFF;
}

#bottom-space{
    margin-bottom: 20px;
}

footer{
    background: #f8f9fa;
    width: 100%;
    margin-top: 30px;
    padding: 12px;
    text-align: center;
}

@keyframes backgroundcolor {
    33% {background-color: #800040;}
    66% {background-color: #2A4D6E ;}
    99% {background-color: #502C73;}
}
  
@-webkit-keyframes backgroundcolor {
    33% {background-color: #800040;}
    66% {background-color: #2A4D6E ;}
    99% {background-color: #502C73;}
}

@media screen and (max-width: 480px) {
    .main{
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }
  }